@import "helpers";

$xl: 100em; // 1600
$lg: 90em; // 1440
$mlg: 56.25em; // 900
$md: 48.5em; //776
$sm: 37.5em; // 600

$colours: (
    primary: (
        1: #00ABE7,
        2: #4DC4EE,
        3: rgba(77, 196, 238, 0.46),
    ),
    secondary: (
        1: #de991a,
        2: rgba(222, 153, 26, 0.25),
    ),
    light: (
        1: #ffffff,
        2: #e0e0e0,
    ),
    dark: (
        1: #373838,
        2: #727373,
        3: #bdbebe,
        4: #a5a0a08a,
    ),
    error: (
        1: #ff0303,
        2: #ff030352,
    ),
    dormant: (
        1: #ff4603,
        2: rgba(255, 70, 3, 0.26),
    ),
    success: (
        1: #38c74e,
        2: rgba(56, 199, 78, 0.24),
    ),
    transfer:(
        1: #8f5b31,
        2: rgba(143, 91, 49, 0.26),
    ),
    arrived:(
        1: #238a28,
        2: rgba(35, 138, 40, 0.23),
    ),
    sent:(
        1: #74c4dc,
        2: rgba(40, 198, 245, 0.28)
    ),
    status:(
        1: #74c4dc,
        2: rgba(40, 198, 245, 0.28)
    ),
);

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}


*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: 37.5em) {
        font-size: 50%;
    }

    @media screen and (max-width: 68.75em) {
        font-size: 58%;
    }
}
